/*-----Global CSS-----*/

body {
  background: url("resources/ChronoClock.png") no-repeat center center fixed;
  background-color: black;
  background-size: cover;
  font-family: Tahoma;
}

main {
  display: flex;
  justify-content: center;
}

nav {
  height: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}


legend {
  color: gray;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  
}

section {
  display: flex;
  width: 400px;
  background: rgba(0,0,0,0.90);
  border: 3px firebrick solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

p {
  color: gray;
  font-size: 18px;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  margin-top: 10px;
  background-color: firebrick;
  color: snow;
  border: 3px firebrick solid;
  border-radius: 10px;
  font-size: 16px;

}

/*-----Targeted Element CSS-----*/

#header {
  display: flex;
  max-width: 420px;
  justify-content: center;
  color: gray;
  border: 3px firebrick solid;
  background: rgba(0,0,0,0.90);
  border-radius: 10px;
  margin: auto;
}

#intro, #scoreText {
  line-height: 175%;
}

#start, #feedback, #endScore, #question {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#optionsTitle {
  color: gray;
  font-size: 18px;
}

#questionImg {
  border-radius: 10px;
  height: 300px;
  width: 300px;
  border: 3px firebrick solid;
}

#feedbackImg, #finalScoreImg {
  border: 3px firebrick solid;
  border-radius: 10px;
  width: 375px;
}

#finalScore {
  color: gray;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: underline;
}