/*-----Global CSS-----*/

body {
  background-image: url("resources/ChronoClock.png");
  background-size: cover;
  font-family: 'Trebuchet MS';
}

main {
  display: flex;
  justify-content: center;
}

nav {
  height: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}


legend {
  color: gray;
  text-align: center;
  margin-bottom: 10px;
}

section {
  display: flex;
  width: 400px;
  background: rgba(0,0,0,0.90);
  border: 3px firebrick solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

p {
  color: gray;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

button {
  margin-top: 10px;
  background-color: firebrick;
  border-radius: 10px;
  border: 3px firebrick solid;
  font-size: 16px;
  color: snow;
}

/*-----Targeted Element CSS-----*/

#header {
  display: flex;
  max-width: 600px;
  justify-content: center;
  color: gray;
  border: 3px firebrick solid;
  background: rgba(0,0,0,0);
  border-radius: 10px;
  margin: auto;
}

#start, #feedback, #endScore, #question{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#questionText, #optionsTitle {
  color: gray;
  font-size: 20px;
}

#questionImg{
  border-radius: 10px;
  height: 150px;
  width: 150px;
  border: 3px firebrick solid;
}

#feedbackImg{
  border: 3px firebrick solid;
  border-radius: 10px;
  height: 175px;
  width: 300px;
}

#finalScoreImg {
  border: 3px firebrick solid;
  border-radius: 10px;
  height: 175px;
}